@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><span>Добро</span> пожаловать!</h1>
    <p>Подробнее на сайте <a href="https://docs.microsoft.com/aspnet/core" target="_blank">ASP.Net Core.</a></p>
</div>
